<div id="<%= dom_id wiki %>">
  <p>
    <strong>Title:</strong>
    <%= wiki.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= wiki.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= wiki.link %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= wiki.author %>
  </p>

</div>
